* {
  font-family: "CaskaydiaCove Nerd Font";
	background-image: none;
	transition: 20ms;
	box-shadow: none;
}

window {
	background-color: rgba(40, 42, 54, 0.80);
}

button {
	color: #44475a;
	font-size:50px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 40%;
	background-color: rgba(40, 42, 54, 1);
	border-style: solid;
	border: 10px solid #282a36;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding-bottom: 0px;
  padding-left: 500px;
}

button:focus{
	color: #44475a;
	border: 10px solid #44475a;
}
button:active,
button:hover {
	color: #44475a;
	border: 10px solid #bd93f9;
	/* border: 10px solid #50FA7B; */
	background-color: rgb(40, 42, 54);
}

/* 
----------------------------------------------------- 
Buttons
----------------------------------------------------- 
*/

#lock {
	margin: 10px;
	border-radius: 50px;
	background-image: image(url("icons/lock.png"));
}
#hibernate {
	margin: 10px;
	border-radius: 50px;
	background-image: image(url("icons/hibernate.png"));
}
#suspend {
	margin: 10px;
	border-radius: 50px;
	background-image: image(url("icons/suspend.png"));
}
#logout {
	margin: 10px;
	border-radius: 50px;
	background-image: image(url("icons/logout.png"));
}
#shutdown {
	margin: 10px;
	border-radius: 50px;
	background-image: image(url("icons/shutdown.png"));
}
#reboot {
	margin: 10px;
	border-radius: 50px;
	background-image: image(url("icons/reboot.png"));
}
